<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kmjblog.mapper.UserMapper">

	<select id="selectUserByEmail" parameterType="java.lang.String" resultType="kmjblog.domain.User">
		SELECT
			user_id,
			email,
			password,
			created_at,
			updated_at
		FROM users
		WHERE email = #{email}
	</select>

	<select id="selectRoleCodesByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
		SELECT  r.role_code
		FROM user_roles ur
		JOIN roles r ON r.role_id = ur.role_id
		WHERE ur.user_id = #{userId}
	</select>

</mapper>
